.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.login-container {
  background: url("https://front.sngi.ru/template/auth/img/cover.jpg");
  background-size: cover;
  display: flex;
  justify-content: "center";
  align-content: "center";
  height: 100vh;
}
.login-container-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
  -moz-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 360px;
  max-width: 360px;
  margin: 0 auto;
  min-height: 100%;
  transition: all 250ms ease;
}
.login-container-form--fade-in {
  transform: translateY(-50px);
  opacity: 0;
}
.login-container-form-content {
  position: relative;
  width: 100%;
  margin: 70px 0;
  border-radius: 4px;
  background-color: #fff;
  -webkit-box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.5);
  overflow: hidden;
  min-height: 532px;
  -webkit-transition: height 0.2s ease-in;
  -o-transition: height 0.2s ease-in;
  transition: height 0.2s ease-in;
}
.login-container-form-content-top {
  position: relative;
}
.login-container-form-content-top a {
  position: absolute;
  top: 25px;
  right: 30px;
  font-size: 14px;
  -webkit-transition: opacity 0.3s, visibility 0 linear 0.3s;
  -o-transition: opacity 0.3s, visibility 0 linear 0.3s;
  transition: opacity 0.3s, visibility 0s linear 0.3s;
  color: #4981d7;
  text-decoration: none;
}
.login-form-logo {
  margin-top: 100px;
}
.login-form-logo-h2{
  margin: 0 30px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}
.login-container-form-content-center {
  margin: 75px 30px 0px 30px;
}
* {
  box-sizing: border-box;
}
.login-form-input {
  width: 100%;
  height: 35px;
  border: none;
  border-bottom: 1px solid;
}
.login-page-submit {
  width: 100%;
  height: 48px;
  border: none;
  border-radius: 50px;
  background: #4981d7;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: all 250ms ease;
}
.login-page-submit:hover{
  background: #70a3f1; 
}